/* Fonts */
@font-face {
   font-family: "AtHauss";
	 font-style: normal;
	 font-weight: 300;
   src: url("assets/AtHauss-Retina.woff2") format("woff2"), url("assets/AtHauss-Retina.woff") format("woff");
}
@font-face {
   font-family: "AtHauss";
	 font-style: italic;
	 font-weight: 300;
   src: url("assets/AtHauss-RetinaItalic.woff2") format("woff2"), url("assets/AtHauss-RetinaItalic.woff") format("woff");
}
@font-face {
   font-family: "AtHauss";
	 font-style: normal;
	 font-weight: 600;
   src: url("assets/AtHauss-Semibold.woff2") format("woff2"), url("assets/AtHauss-Semibold.woff") format("woff");
}
@font-face {
   font-family: "AtHauss";
	 font-style: italic;
	 font-weight: 600;
   src: url("assets/AtHauss-SemiboldItalic.woff2") format("woff2"), url("assets/AtHauss-SemiboldItalic.woff") format("woff");
}

/* CSS Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, strong, img, ul, li, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
section {
	display: block;
}
ol, ul {
	list-style: none;
}

/* General */
html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
body {
	max-width: 1100px;
	margin: 90px auto;
	font-family: "AtHauss", sans-serif;
  font-weight: 300;
	font-size: 18px;
  font-feature-settings: "onum";
	line-height: 26px;
	color: #F2F2F2;
	background-color: #222222;
}
a, a:focus, a:visited, a:active {
	text-decoration: none;
	outline:none;
	color: #F2F2F2;
  box-shadow: 0 1px 0 0px #F2F2F2;
}
a:hover {
  color: #bbb;
	transition: color .5s ease;
}
.pedro {
  box-shadow: none;
}
strong {
	font-weight: 600;
}
em {
	font-style: italic;
}
img {
	max-width:100%;
}
::selection {
  color: rgba(255,255,255,.996);
  background: rgba(71,112,253,.996);
}

/* header */
.header {
	margin-top: 1em;
	top: 0;
	position: fixed;
  font-weight: 300;
}
.header ul li {
  float: left;
	padding-right: 1.5em;
}

/* content */
.content h1 {
	padding-bottom: 1em;
	font-weight: 300;
  font-size: 48px;
  line-height: 56px;
}
.content h2 {
  padding-top: 2em;
	padding-bottom: 1em;
	font-weight: 600;
	color: #F2F2F2;
  font-size: 32px;
  line-height: 42px;
}
.content p {
  margin-bottom: 1em;
}
.content {
  padding-top: 0;
  padding-bottom: 70px;
}

.content ul#fonts li strong {
	color: #F2F2F2;
}
.col1 {
	width: 21%;
	float: left;
}
.col2 {
	height: 180px;
}
#amsteldok {
	height: 434px;
}
.col2 a {
	text-decoration: none;
	border: 0;
	box-shadow: none;
}
.col2 a:hover {
	filter: invert(32%) sepia(0%) saturate(1%) hue-rotate(356deg) brightness(98%) contrast(87%);
}
.col2c {
	display: block;
	width: 75%;
	margin-bottom: 200px;
}
.visible {
	display: inline-block;
}
table {
	border-collapse:collapse;
	text-align: left;
}
table th {
	background: #222222;
	color: #F2F2F2;
	font-weight: 600;
}
table td {
	text-align:left;
	background: #222222;
	color: #F2F2F2;
}
table #th1 {
	width: 130px;
}
table #th2 {
	width: 260px;
}
table #th3 {
	width: 100px;
}
table #th4 {
	width: 80px;
}
table #th5 {
	width: 80px;
}

/* footer */
.footer {
	margin-bottom: 1em;
	color: #B5B5BA;
	bottom: 0;
	position: fixed;
  font-weight: 300;
}
.footer a, .footer a:focus, .footer a:visited, .footer a:active {
	color: #B5B5BA;
}
.footer a:hover {
  color: #F2F2F2;
	transition: color .4s ease;
}
.footer {
	width: 100%;
}
.footer ul li#link-logs {
	color: #494949;
}
.footer ul li#link-logs a,
.footer ul li#link-logs a:focus,
.footer ul li#link-logs a:visited,
.footer ul li#link-logs a:active {
	color: #303030;
	text-decoration: none;
	outline:none;
	box-shadow: none;
}
.footer ul li#link-logs a:hover {
	color: #505050;
	transition: color .5s ease;
}
#menu-logs {
	padding-bottom: 100px;
	position: sticky;
	top: 50px;
}
.anchor {
	padding-top: 120px;
	margin-top: -120px;
}


/* Responsive */
@media (max-width: 1260px) {
	body {
		width: 90%;
	}
	.col1 {
		width: 100%;
		clear: both;
	}
	.col2 {
		clear: both;
		padding-top: 30px;
	}
	.col2b {
		clear: both;
		margin-top: 10px;
		margin-bottom: 40px;
	}
	.col2c {
		clear: both;
		margin-top: 40px;
	}
}
@media (max-width: 960px) {
  .content h1 {
    font-size: 28px;
    line-height: 34px;
  }
}
